
.con_foot{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
    background: #000;
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.con_footer{
    color: #f9f5f5;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 100PX;
}
.footer-key-points{
   color: #ccc8c8;
   padding-right: 170px;

   
}
@media screen and (max-width:769px){
     .con_foot{
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
     }




}
